@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.all {
  background: #D4ECEA;
  text-align: center;
  width: 1000px;
  padding: 70px;
  margin: auto auto;
}

.error {
  background: #DED46E;
  text-align: center;
  width: 400px;
  border: 1px solid #cccccc;
  margin: 30px auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  background: #61C1BE; /*ボタン色*/
  width: 150px;
}

.box {
  position: relative;
  width: 22%;
  margin: 40px 3%;
}

.search {
  padding: 60px;
}